:root {
  --footer-bg-color: #009213;
  --footer-vert: none;
  --twos-horz: 3.5rem;
  --footer-right: 3.5rem;
  --iconGH-horz: 1rem;
  --footer-body-font: "Open Sans", sans-serif;
  --footer-body-fontSize: 1rem;
  --footer-icon-fontSize: 1.5rem;
  --footer-link-fontColor: black;
  --footer-text-fontColor: black;
  --footer-icon-fontColor: black;
  --footer-border: solid 5px black;
}

*, *::before, *::after {
  box-sizing: border-box;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 50vh; */
  background-color: var(--footer-bg-color);
  /* border-top: var(--footer-border); */
  /* padding-top: 20px; */
  margin-bottom: 0 auto;
  /* overflow: hidden; */
}

.footerMain, .footerCopy {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.footerMain {
  background-color: purple;
}

.footerCopy {
  border-top: var(--footer-border);
  background-color: yellow;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footerColumnHeader{
  color: white;
}

.footerColumnHeader, .footerBlurb, .footerSocialLink, .footerLink, .footerContactInfo{
  color: #a0a4b8;
}

.footerSocials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 5rem;
}

.footerLink{
  margin: 0.5rem auto;
}

.footerContactInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  /* padding: 0 2rem; */
}

.footerIcon {
  text-align: right;
  margin-left: 2rem;
  width: fit-content;
  width: 50%;
}

.footerContactInfo > p {
  text-align: left;
}

#iconGH {
  margin-left: var(--iconGH-horz);
  width: auto;
  font-size: var(--footer-icon-fontSize);
  color: var(--footer-icon-fontColor);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

#iconGH:hover {
  color: #d8ddef;
}

/*---------- Smaller Screen ----------*/
@media (min-width: 888px) {

.footer {

  /* flex-direction: row; */
}


  
  }