:root {
    --newsletterBgColor: #a0a4b8; 
    --main-vert: 2.5rem;
    --newsletterHeaderFont: "Open Sans", sans-serif;
    --newsletterHeaderFontColor: black;
    --newsBlurb-font: "Open Sans", sans-serif;
    --newsBlurb-fontColor: black;
    --newsletterButtonColor: black;
    --newsletterButtonHvrColor: black; 
}

*, *::before, *::after {
    box-sizing: border-box;
    width: 100%;
}

.Newsletter {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 3rem auto;
    background-color: var(--newsletterBgColor);
}

.newsletterComponents{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
    width: 50vw;
}

.newsletterHeading {
    font-family: var(--newsletterHeaderFont);
    font-size: 2rem;
    color: var(--newsletterHeaderFontColor);
    /* text-align: center; */
    margin: 0 0 10px 0;
}

.newsletterBlurb1, .newsletterBlurb2 {
    font-family: var(--newsBlurb-font);
    font-size: 0.9rem;
    color: var(--newsBlurb-fontColor);
    /* text-align: center; */
    margin: 0px auto 10px auto;
    width: 50vw;
}

.newsletterEmailSubmission {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px auto 10px auto;
}

.newsletterEmail {
    height: 2.8rem;
    width: 450px;
    margin: auto 5px;
    border-radius: 4px;
    font-size: 1rem;;
}

.newsletterButton-wrap {
    /* margin: 0 50px; */
    text-align: center;
    width: auto;
}

.newsletterButton {
    background-color: var(--newsletterButtonColor);
    font-size: 0.8rem;
    width: 8rem;
    color: white !important;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    transition: font-weight 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin: 0 10px 0 0px;
}

.newsletterButton:hover {
  background-color: var(--newsletterButtonHvrColor) !important;
  font-weight: bold !important;
  transition: font-weight 0.3s ease;
}


/*---------- Smaller Screen ----------*/
@media (min-width: 888px) {

    .holdsAllCards {

    }
  
  }

/*---------- XXL ----------*/
@media (min-width: 1440px) {

  .holdsAllCards {

  }

}