:root {
/* --header-vert: 2.5rem; */
--header-vert: 0rem;
/* --header-bg-color: #a0a4b8; */
--header-bg-color: white;
--header-font: "Open Sans", sans-serif;
--header-fontSize: 1rem;
--header-fontColor: black;
--header-border: solid 2px #a0a4b8;
--header-navlogo-font-style: "Times New Roman";
--header-navlinks-color: black;
--subscribe-btn-color: #a0a4b8;
--subscribe-btnhover-color: black;
}

*, *::before, *::after {
    box-sizing: border-box;
    width: 100%;
  }

.nav-container {
  
}

.hide {
  display: none;
}

.header-mobile{
  display: none;
}

.mobile-menu-toggle1 {
  display: none;
}

.mobile-menu-toggle2 {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  margin: var(--header-vert) 0rem;
  background-color: var(--header-bg-color);
  /* text-align: left; */
  /* padding-left: 2.5rem; */
  padding: 0 1.5rem;
  border: var(--header-border);
  overflow: hidden;
}

.header > a {
  font-family: var(--header-font);
  font-size: var(--header-fontSize);
  color: var(--header-fontColor);
  text-decoration: none; 
  transition: font-weight 0.3s ease; /* "When a user hovers over the link the hover styles transition gradually*/
}

.header > a:hover {
  font-weight: bold; 
  /* "When a user hovers over the link the text hover styles should be present*/
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--header-navlogo-font-style);
}

.nav-links {
  display: flex;
}

.nav-links > a {
  margin: 0 0.5rem;
  color: var(--header-navlinks-color);
  text-decoration: none;
}

.subscribe-btn {
  background-color: var(--subscribe-btn-color);
  width: 8rem;
  color: white !important;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  transition: font-weight 0.5s ease;
  transition: background-color 0.8s ease;
  text-decoration: none;
}

.subscribe-btn:hover {
  background-color: var(--subscribe-btnhover-color) !important;
  font-weight: bold !important;
}

/* Tablet */

@media (max-width: 768px) {
  .nav-container {
    /* display: flex; */
    /* width: 100%; */
    /* margin: 0; */
    /* flex-direction: column; */
  }

  .header {
    display: none;
  }

 .mobile-menu-toggle1 {

    display: block;
    cursor: pointer;
    z-index: 1001;
    transform: translateX(35%);
  }

  .mobile-menu-toggle1:hover {
    font-size: 1.2rem;
    transition: font-size 0.1s ease-in-out;
  }

  #open {
    display: flex;  
    text-align: end;
  }

  .mobile-menu-toggle2 {
    display: flex;
    font-size: 1.5rem;
  }

  .mobile-menu-toggle2:hover {
    font-size: 1.8rem;
    transition: font-size 0.1s ease-in-out;
  }

   .nav-logo {
    display: flex;
    align-items: center;
  }

  .header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateX(100%); */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
  }

  .header-mobileOpen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }

  .nav-links {
    display: block;
    width: 50%;
    margin: 0 auto;
  }

  .subscribe-btn-container {
    margin: 30px 0;
  }



}

/* Laptop */

@media (min-width: 888px) {


}