:root {
  --card-bg-color: none;
  --card-vert:none;
  --card-horz:none;
  --card-header-vert: 2.5rem;
  --card-header-font: "Noto Sans", sans-serif;
  --card-body-font: "Open Sans", sans-serif;
  --card-header-fontSize: 1.rem;
  --card-body-fontSize: 0.9rem;
  --card-header-fontColor: black;
  --card-body-fontColor: black;
  --firstCard-bg-color: #d8ddef;
  --secondCard-bg-color: #45b69c;
  --thirdCard-bg-color: #21d19f;
  --tagColor-bg: rgb(216, 221, 239, 0.8);
  --tagColor-font: Black;
  --articleButton-bg:rgb(160, 164, 184, 1);
  --articleButton-fontColor: rgb(64, 67, 75);
  --articleButton-hover: Black;

}

*, *::before, *::after {
    box-sizing: border-box;
    width: 100%;
  }

  .article {
    /* position: absolute; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* z-index: 6000; */
  }

  .hide{
    /* display: none; */
    /* z-index: -1000; */
  }
